body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,/* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

/* 重置列表元素 */
ul, ol { list-style: none; }
 
/* 重置文本格式元素 */
a, a:hover { text-decoration: none; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { 
    overflow-y: scroll; 
    /* overflow-x: hidden; */
}





/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul {
    list-style:none;
}

/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.show{
    display:block;
}
/* 设置浮动，减少浮动带来的 bug */
.fl {
    float:left;
}
.fr {
    float:right;
}
