@charset "UTF-8";
/***
* 这是decoration的首页:home的样式
***/
#decoration.home {
  width: 100%;
  padding-top: 100px;
  /***
  * 头部
  ***/
  /***
  * banner部分
  ***/
  /***
  * container部分
  ***/ }
  #decoration.home .header-btsp {
    display: none;
    position: fixed;
    width: 100%;
    height: 52px;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #fff; }
  #decoration.home .banner {
    position: relative;
    width: 1200px;
    height: 700px;
    /***
    * banner 版心
    ***/ }
    @media (min-width: 1200px) {
      #decoration.home .banner {
        width: 100%;
        left: 0; } }
    #decoration.home .banner .banner-c {
      width: 1200px;
      height: 100%;
      margin: 0 auto;
      /***
      * swiper样式
      ***/
      /***
      * 分液器样式
      ***/ }
      #decoration.home .banner .banner-c .swiper-container {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        height: 700px; }
      #decoration.home .banner .banner-c .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        background: #e5e5e5;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        /***
        * swiper中的内容部分
        ***/ }
        #decoration.home .banner .banner-c .swiper-slide .slide-hyper {
          overflow: hidden;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 0; }
          #decoration.home .banner .banner-c .swiper-slide .slide-hyper .slide-img {
            height: 100%; }
      #decoration.home .banner .banner-c .swiper-pagination-bullet {
        background-color: #fff;
        vertical-align: middle;
        opacity: 1; }
      #decoration.home .banner .banner-c .swiper-pagination-bullet-active {
        border: 2px solid #fff;
        background-color: #668aca; }
  #decoration.home .container {
    width: 100%;
    /***
    * container版心部分
    ***/ }
    #decoration.home .container .container-c {
      width: 1200px;
      margin: 0 auto;
      /***
      * 模块公用标题部分, container中的标题都依赖这个样式
      ***/
      /***
      * 这是产品中心模块
      ***/
      /***
      * 这是服务范围模块
      ***/
      /***
      * 这是新闻咨询模块样式
      ***/
      /***
      * 这是关于简设模块的样式
      ***/ }
      #decoration.home .container .container-c .module-title {
        position: relative;
        width: 100%;
        height: 231px;
        box-sizing: border-box;
        border: 1px solid transparent;
        padding: 1px; }
        #decoration.home .container .container-c .module-title .title-cname {
          color: #767676;
          margin: 118px 0 6px;
          font: 30px/1 'Microsoft YaHei'; }
        #decoration.home .container .container-c .module-title .title-ename {
          color: #9b9b9b;
          font: 12px/1 'Microsoft YaHei'; }
        #decoration.home .container .container-c .module-title .title-line-left,
        #decoration.home .container .container-c .module-title .title-line-right {
          position: absolute;
          left: 0;
          top: 171px;
          width: 60px;
          height: 1px;
          background-color: #a1a1a1; }
        #decoration.home .container .container-c .module-title .title-line-right {
          left: auto;
          right: 0;
          width: 300px; }
      #decoration.home .container .container-c .module.show-pduct {
        /***
        * 模块主要内容部分
        ***/ }
        #decoration.home .container .container-c .module.show-pduct .module-main {
          width: 100%; }
          #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav {
            width: 392px;
            height: 27px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 54px; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate {
              position: relative;
              width: 98px;
              height: 100%; }
              #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate .cate-hyper {
                -o-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
                color: #767676;
                font: 14px/26px 'Microsoft YaHei'; }
              #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate.active .cate-hyper, #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate:hover .cate-hyper {
                color: #668aca;
                font-size: 16px; }
              #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate::after {
                -o-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
                content: '';
                display: block;
                width: 0;
                height: 1px;
                margin: 0 auto; }
              #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate:nth-child(-n+3) ::before {
                content: '';
                position: absolute;
                right: 0;
                width: .5px;
                height: 8px;
                top: 50%;
                margin-top: -4px;
                background-color: #a1a1a1; }
              #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate.active::after, #decoration.home .container .container-c .module.show-pduct .module-main .module-cate-nav .module-cate:hover::after {
                background-color: #668aca;
                width: 12px; }
          #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item {
            overflow: hidden;
            position: relative;
            color: #fff;
            width: 360px;
            height: 270px;
            margin-left: 60px;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -o-border-radius: 6px;
            -moz-border-radius: 6px;
            -o-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            transition: all .3s .15s ease; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .product-img {
              transition: all .4s .15s ease;
              margin-top: -120px;
              height: 272px;
              width: 100%; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:hover .product-img {
              margin-top: 0; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:nth-child(1) {
              margin-left: 0; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .cover,
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-top,
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-btm,
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-desc,
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-hyper {
              position: absolute;
              transition: all .3s .15s ease; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .cover {
              border-radius: 6px;
              -webkit-border-radius: 6px;
              -o-border-radius: 6px;
              -moz-border-radius: 6px;
              opacity: 0;
              top: 50%;
              left: 0;
              width: 360px;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.5); }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:hover .cover {
              opacity: 1;
              top: 0;
              height: 272px; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-top {
              left: 50px;
              top: -55px;
              opacity: 0; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:hover .item-title-top {
              top: 55px;
              opacity: 1; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-btm {
              top: 205px;
              left: 50px;
              width: 260px;
              color: #767676; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-top .btitle,
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-btm .btitle {
              font-size: 16px;
              line-height: 16px;
              margin-bottom: 8px; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-top .stitle,
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-title-btm .stitle {
              font-size: 12px;
              line-height: 12px; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:hover .item-title-btm {
              opacity: 0; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-desc {
              top: 108px;
              left: -260px;
              width: 260px;
              opacity: 0;
              line-height: 20px;
              font-size: 12px; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:hover .item-desc {
              left: 50px;
              opacity: 1; }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item .item-hyper {
              top: 208px;
              right: 50px;
              display: block;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -o-border-radius: 50%;
              -moz-border-radius: 50%;
              border: 1px solid #e4e4e4;
              background: #fff url(../imgs/jt.png) no-repeat center;
              transform: rotateZ(0); }
            #decoration.home .container .container-c .module.show-pduct .module-main .module-items .module-item:hover .item-hyper {
              top: 180px;
              -moz-box-shadow: 2px 2px 10px -5px #000;
              /*firefox*/
              -webkit-box-shadow: 2px 2px 10px -5px #000;
              /*webkit*/
              box-shadow: 2px 2px 10px -5px #000;
              /*opera或ie9*/
              border-color: transparent;
              transform: rotateZ(360deg); }
      #decoration.home .container .container-c .module.product-center {
        width: 100%; }
        #decoration.home .container .container-c .module.product-center .module-main {
          width: 100%;
          /***
          * 产品中心分类导航 == > cate-nav
          ***/
          /***
          * 产品列表 == > cate-products 
          ***/ }
          #decoration.home .container .container-c .module.product-center .module-main .cate-nav {
            width: 100%;
            height: 142px;
            margin-bottom: 82px;
            color: #767676; }
            #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item {
              cursor: pointer;
              border-radius: 6px;
              -webkit-border-radius: 6px;
              -o-border-radius: 6px;
              -moz-border-radius: 6px;
              padding: 0 20px;
              height: 114px;
              margin-left: 60px;
              background-color: #fff;
              transition: all .4s .15s ease; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active .item-title, #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover .item-title {
                color: #94adda; }
                #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active .item-title::after, #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover .item-title::after {
                  background-color: #668aca;
                  width: 18px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active:nth-child(1), #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover:nth-child(1) {
                background: url(../imgs/bed.png) no-repeat center 22px;
                background-color: #94adda; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active:nth-child(2), #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover:nth-child(2) {
                background: url(../imgs/sofa-hover.png) no-repeat center 22px;
                background-color: #94adda; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active:nth-child(3), #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover:nth-child(3) {
                background: url(../imgs/tables-hover.png) no-repeat center 22px;
                background-color: #94adda; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active:nth-child(4), #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover:nth-child(4) {
                background: url(../imgs/closet-hover.png) no-repeat center 22px;
                background-color: #94adda; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item.active:nth-child(5), #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:hover:nth-child(5) {
                background: url(../imgs/light-hover.png) no-repeat center 22px;
                background-color: #94adda; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item .item-title {
                margin-top: 114px;
                color: #767676;
                text-align: center;
                font: lighter 14px/27px 'microsoft yahei'; }
                #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item .item-title::after {
                  -o-transition: all 0.4s ease;
                  -moz-transition: all 0.4s ease;
                  -webkit-transition: all 0.4s ease;
                  transition: all 0.4s ease;
                  content: '';
                  display: block;
                  width: 0;
                  height: 1px;
                  margin: 0 auto; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:nth-child(1) {
                margin-left: 80px;
                width: 123px;
                background: url(../imgs/bed-default.png) no-repeat center 22px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:nth-child(2) {
                width: 124px;
                background: url(../imgs/sofa.png) no-repeat center 22px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:nth-child(3) {
                width: 146px;
                background: url(../imgs/tables.png) no-repeat center 22px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:nth-child(4) {
                width: 86px;
                background: url(../imgs/closet.png) no-repeat center 22px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-nav .cate-item:nth-child(5) {
                width: 112px;
                margin-right: 80px;
                background: url(../imgs/light.png) no-repeat center 22px; }
          #decoration.home .container .container-c .module.product-center .module-main .cate-products {
            width: 100%;
            overflow: hidden; }
            #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product {
              overflow: hidden;
              position: relative;
              width: 360px;
              height: 360px;
              box-sizing: border-box; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product:nth-child(3n-1) {
                margin: 0 60px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .cate-product-hyper {
                display: block;
                width: 100%;
                height: 100%;
                color: #767676; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-cover {
                transition: all .3s .15s ease;
                position: absolute;
                top: 0;
                left: -360px;
                width: 100%;
                height: 320px;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 6px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product:hover .product-desc-hover {
                left: 0; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product:hover .product-id {
                left: 82px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product:hover .product-desc {
                opacity: 0; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product:hover .product-cover {
                left: 0;
                opacity: 1; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-id {
                color: #fff;
                transition: all .3s .15s ease;
                position: absolute;
                top: 130px;
                left: -60px;
                font: 30px/1 'microsoft yahei';
                z-index: 99; }
                #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-id::before {
                  content: '';
                  position: absolute;
                  width: 80px;
                  height: 1px;
                  bottom: 1px;
                  left: -82px;
                  background-color: #fff; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc-hover {
                z-index: 99;
                position: absolute;
                top: 172px;
                left: 290px;
                color: #fff; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-img {
                display: block;
                width: 360px;
                height: 320px; }
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc,
              #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc-hover {
                transition: all .3s .15s ease;
                opacity: 1;
                width: 100%;
                height: 40px;
                text-indent: 70px; }
                #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc .name,
                #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc-hover .name {
                  font-size: 16px;
                  line-height: 16px;
                  margin-bottom: 10px; }
                #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc .txt,
                #decoration.home .container .container-c .module.product-center .module-main .cate-products .cate-product .product-desc-hover .txt {
                  font-size: 14px;
                  line-height: 14px; }
      #decoration.home .container .container-c .module.service-area {
        height: 931px; }
        #decoration.home .container .container-c .module.service-area .module-main {
          width: 1200px;
          position: absolute;
          left: 0;
          height: 700px;
          background: url(../imgs/service-area.jpg) no-repeat center;
          background-size: cover; }
          @media (min-width: 1200px) {
            #decoration.home .container .container-c .module.service-area .module-main {
              width: 100%; } }
          #decoration.home .container .container-c .module.service-area .module-main .module-content {
            position: relative;
            width: 1200px;
            height: 700px;
            margin: 0 auto; }
            #decoration.home .container .container-c .module.service-area .module-main .module-content .module-desc-title {
              position: absolute;
              top: 150px;
              left: 0;
              font: lighter 30px/1 'Microsoft YaHei';
              color: #fff; }
            #decoration.home .container .container-c .module.service-area .module-main .module-content .module-desc {
              position: absolute;
              top: 210px;
              left: 0;
              width: 350px;
              font: lighter 14px/24px 'microsoft yahei';
              color: #fff; }
            #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items {
              position: absolute;
              border: 1px solid #6d625c;
              right: 0;
              bottom: 149px; }
              #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item {
                cursor: pointer;
                position: relative;
                width: 248px;
                height: 148px;
                border-left: 1px solid #6d625c;
                color: #fff;
                text-align: center; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item:nth-child(1) {
                  z-index: 4; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item:nth-child(2) {
                  z-index: 3; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item:nth-child(3) {
                  z-index: 2; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item:nth-child(4) {
                  z-index: 1; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item::after {
                  transition: all .3s .15s ease;
                  content: '';
                  position: absolute;
                  top: -5px;
                  left: -8px;
                  width: 264px;
                  height: 158px;
                  z-index: 1; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item:hover::after {
                  background-color: #668aca; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item:nth-child(1) {
                  border-left: none; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: 30px;
                  height: 1px;
                  background-color: #fff;
                  z-index: 2; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item .item-cdesc {
                  width: 100%;
                  position: absolute;
                  top: 46px;
                  font: 16px/1 'microsoft yahei';
                  z-index: 2; }
                #decoration.home .container .container-c .module.service-area .module-main .module-content .module-items .module-item .item-edesc {
                  width: 100%;
                  position: absolute;
                  top: 88px;
                  z-index: 2;
                  font: lighter 12px/1 'microsoft yahei'; }
      #decoration.home .container .container-c .module.news-info .module-main .news-left,
      #decoration.home .container .container-c .module.news-info .module-main .news-right {
        width: 570px;
        height: 570px; }
      #decoration.home .container .container-c .module.news-info .module-main .news-left {
        margin-right: 60px; }
        #decoration.home .container .container-c .module.news-info .module-main .news-left .item-md {
          width: 100%;
          height: 270px;
          margin-bottom: 30px; }
        #decoration.home .container .container-c .module.news-info .module-main .news-left .item-sm {
          width: 270px;
          height: 270px; }
          #decoration.home .container .container-c .module.news-info .module-main .news-left .item-sm:nth-child(2) {
            margin-right: 30px; }
      #decoration.home .container .container-c .module.news-info .module-main .news-item {
        position: relative;
        overflow: hidden; }
        #decoration.home .container .container-c .module.news-info .module-main .news-item .news-hyper {
          color: #fff; }
        #decoration.home .container .container-c .module.news-info .module-main .news-item .news-img {
          width: 100%;
          height: 100%; }
        #decoration.home .container .container-c .module.news-info .module-main .news-item:hover .cover {
          opacity: 1;
          bottom: 0; }
        #decoration.home .container .container-c .module.news-info .module-main .news-item .cover {
          transition: all .3s .15s ease;
          opacity: 0;
          position: absolute;
          bottom: -90px;
          left: 0;
          width: 100%;
          height: 90px;
          background-color: rgba(0, 0, 0, 0.5);
          box-sizing: border-box;
          padding-left: 9%;
          padding-right: 9%; }
          #decoration.home .container .container-c .module.news-info .module-main .news-item .cover .desc-title {
            width: 100%;
            font: 16px/38px 'microsoft yahei';
            margin-bottom: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          #decoration.home .container .container-c .module.news-info .module-main .news-item .cover .desc-content {
            width: 100%;
            height: 40px;
            font: 12px/20px 'microsoft yahei';
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            display: -moz-box;
            -webkit-line-clamp: 2;
            -moz-line-clamp: 2;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical; }
      #decoration.home .container .container-c .module.about-us .module-main {
        margin-bottom: 200px; }
        #decoration.home .container .container-c .module.about-us .module-main .about-img {
          width: 500px;
          height: 300px; }
          #decoration.home .container .container-c .module.about-us .module-main .about-img img {
            display: block;
            width: 100%;
            height: 100%; }
        #decoration.home .container .container-c .module.about-us .module-main .about-desc {
          margin-left: 30px;
          width: 670px;
          height: 300px;
          color: #767676; }
          #decoration.home .container .container-c .module.about-us .module-main .about-desc .about-text {
            font: 14px/25px 'microsoft yahei';
            padding-top: 26px; }

/*# sourceMappingURL=style.css.map */
