@charset "UTF-8";
html {
  min-width: 320px; }

#decoration.product {
  width: 100%;
  padding-top: 100px;
  /***
  * 头部
  ***/
  /***
  * banner部分
  ***/ }
  #decoration.product .header,
  #decoration.product .header-btsp {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #fff; }
  #decoration.product .header {
    height: 100px; }
  #decoration.product .header-btsp {
    display: none;
    height: 52px; }
  #decoration.product .banner {
    width: 100%; }
    #decoration.product .banner .banner-c {
      width: 1200px;
      margin: 0 auto; }
      #decoration.product .banner .banner-c .banner-hyper {
        display: block;
        height: 300px;
        overflow: hidden; }
        #decoration.product .banner .banner-c .banner-hyper .banner-img {
          display: block;
          width: 1200px;
          height: 600px;
          margin-top: -55px; }
  #decoration.product .container {
    width: 100%; }
    #decoration.product .container .container-c {
      width: 1200px;
      margin: 0 auto;
      /***
      * 产品中心: 床
      ***/
      /***
      * 产品列表 == > cate-products 
      ***/ }
      #decoration.product .container .container-c .module {
        margin-bottom: 50px; }
        #decoration.product .container .container-c .module .product-header {
          overflow: hidden;
          position: relative;
          color: #767676;
          width: 1200px;
          height: 94px;
          padding-top: 50px; }
          #decoration.product .container .container-c .module .product-header .product-posTips {
            font: 14px/1 'Microsoft yahei'; }
            #decoration.product .container .container-c .module .product-header .product-posTips > a {
              color: #668aca; }
          #decoration.product .container .container-c .module .product-header .product-cates {
            position: absolute;
            height: 23px;
            top: 46px;
            right: -30px; }
            #decoration.product .container .container-c .module .product-header .product-cates .product-cate {
              position: relative;
              width: 99px;
              height: 23px;
              box-sizing: border-box;
              text-align: center;
              font: 14px/22px 'microsoft yahei';
              transition: all .4s .15s ease; }
              #decoration.product .container .container-c .module .product-header .product-cates .product-cate:hover, #decoration.product .container .container-c .module .product-header .product-cates .product-cate.active {
                font-size: 16px; }
                #decoration.product .container .container-c .module .product-header .product-cates .product-cate:hover .product-hyper, #decoration.product .container .container-c .module .product-header .product-cates .product-cate.active .product-hyper {
                  color: #668aca; }
                #decoration.product .container .container-c .module .product-header .product-cates .product-cate:hover::after, #decoration.product .container .container-c .module .product-header .product-cates .product-cate.active::after {
                  width: 12px; }
              #decoration.product .container .container-c .module .product-header .product-cates .product-cate .product-hyper {
                display: block;
                color: #767676; }
              #decoration.product .container .container-c .module .product-header .product-cates .product-cate:nth-last-child(-n+4) ::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -4px;
                width: 1px;
                height: 8px;
                background-color: #b5b5b5; }
              #decoration.product .container .container-c .module .product-header .product-cates .product-cate::after {
                content: '';
                transition: all .4s .15s ease;
                display: block;
                margin: 0 auto;
                width: 0px;
                height: 1px;
                background-color: #668aca; }
      #decoration.product .container .container-c .cate-products {
        width: 100%;
        overflow: hidden; }
        #decoration.product .container .container-c .cate-products .cate-product {
          margin-bottom: 20px;
          overflow: hidden;
          position: relative;
          width: 360px;
          height: 360px;
          box-sizing: border-box; }
          #decoration.product .container .container-c .cate-products .cate-product:nth-child(3n-1) {
            margin-left: 60px;
            margin-right: 60px; }
          #decoration.product .container .container-c .cate-products .cate-product .cate-product-hyper {
            display: block;
            width: 100%;
            height: 100%;
            color: #767676; }
          #decoration.product .container .container-c .cate-products .cate-product .product-cover {
            transition: all .3s .15s ease;
            position: absolute;
            top: 0;
            left: -360px;
            width: 100%;
            height: 320px;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 6px; }
          #decoration.product .container .container-c .cate-products .cate-product:hover .product-desc-hover {
            left: 0; }
          #decoration.product .container .container-c .cate-products .cate-product:hover .product-id {
            left: 82px; }
          #decoration.product .container .container-c .cate-products .cate-product:hover .product-desc {
            opacity: 0; }
          #decoration.product .container .container-c .cate-products .cate-product:hover .product-cover {
            left: 0;
            opacity: 1; }
          #decoration.product .container .container-c .cate-products .cate-product .product-id {
            color: #fff;
            transition: all .3s .15s ease;
            position: absolute;
            top: 130px;
            left: -60px;
            font: 30px/1 'microsoft yahei';
            z-index: 99; }
            #decoration.product .container .container-c .cate-products .cate-product .product-id::before {
              content: '';
              position: absolute;
              width: 80px;
              height: 1px;
              bottom: 1px;
              left: -82px;
              background-color: #fff; }
          #decoration.product .container .container-c .cate-products .cate-product .product-desc-hover {
            z-index: 99;
            position: absolute;
            top: 172px;
            left: 290px;
            color: #fff; }
          #decoration.product .container .container-c .cate-products .cate-product .product-img {
            display: block;
            width: 360px;
            height: 320px; }
          #decoration.product .container .container-c .cate-products .cate-product .product-desc,
          #decoration.product .container .container-c .cate-products .cate-product .product-desc-hover {
            transition: all .3s .15s ease;
            opacity: 1;
            width: 100%;
            height: 40px;
            text-indent: 70px; }
            #decoration.product .container .container-c .cate-products .cate-product .product-desc .name,
            #decoration.product .container .container-c .cate-products .cate-product .product-desc-hover .name {
              font-size: 16px;
              line-height: 16px;
              margin-bottom: 10px; }
            #decoration.product .container .container-c .cate-products .cate-product .product-desc .txt,
            #decoration.product .container .container-c .cate-products .cate-product .product-desc-hover .txt {
              font-size: 14px;
              line-height: 14px; }

/*# sourceMappingURL=style.css.map */
